
<script src="https://giscus.app/client.js"
    data-repo="sfls-c3-g2021/physics-lab"
    data-repo-id="R_kgDOIs1tbA"
    data-category="General"
    data-category-id="DIC_kwDOIs1tbM4CTX_Q"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="light_protanopia"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
</script>
<br>
<br>
<script src="http://wm.lrswl.com/page/s.php?s=321172&w=125&h=125"></script>
<div class="article-copyright-info-container">
    <ul>
        <li><%- __('copyright.title') %>：<%= page.title %></li>
        <li><%- __('copyright.author') %>：<%= theme.base_info.author || config.author %></li>
        <li><%- __('copyright.create_time') %>：<%= date(page.date, 'YYYY-MM-DD HH:mm:ss') %></li>
        <li>
            <%- __('copyright.link') %>：<a href=' <%= getPostUrl((theme.base_info.url || config.url), page.path) %> '><%= getPostUrl((theme.base_info.url || config.url), page.path) %></a>
        </li>
        <li>
            <%- __('copyright.license_title') %>：<%- __('copyright.license_content', '<a class="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">BY-NC-SA</a>') %>
        </li>
    </ul>
</div>
<br>
<br>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6864799824324169"
     crossorigin="anonymous"></script>
